@import "@fontsource/inter";
@import "@fontsource/inter/700";

@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source ".";

@custom-variant dark (&:where(html.dark *), @media (prefers-color-scheme:dark));

@theme {
  --font-heading: "Instrument Sans", var(--default-font-family);
  --font-body: "Inter", var(--default-font-family);
  --font-mono: "Azeret Mono", var(--default-mono-font-family);
}

@layer base {
  body {
    @apply scheme-light-dark font-body overflow-x-hidden antialiased text-sm dark:bg-neutral-950 bg-neutral-100 dark:text-white;
  }

  code {
    @apply font-mono;
  }
}